{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <title>{% block title %}Environmental Data Logger - Authentication{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">    
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
            <a class="brand" href="/">Environmental Data Logger</a>
            <ul class="btn btn-mini">
                {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
                {% else %}
                        <a href="{% url 'login' %}">{% trans "Sign in" %}</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
